* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: grid;
    place-items: center;
}

.rating-container,
.submit-container {
    background-color: hsl(213, 19%, 18%);
    padding: 2rem;
    border-radius: 1rem;
}

.rating-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rating-container .star {
    background-color: hsla(216, 12%, 54%, 15%);
    width: 3.5rem;
    height: 3.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.rating-container .title {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    font-weight: 700;
}

.rating-container .desc {
    color: hsl(216, 12%, 54%);
}

.rating-container .ratings {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.rating-container .rating-score {
    border: none;
    padding: 1rem;
    font-size: 1.25rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: hsla(216, 12%, 54%, 20%);
    text-align: center;
    color: hsl(0, 0%, 100%);
    ;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.rating-container .submit {
    border: none;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    text-transform: uppercase;
    font-family: 'Overpass', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 9999px;
    cursor: pointer;
    transition: 0.2s;
}

.rating-container .rating-score:hover {
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);

}

.rating-container .rating-score:active {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.rating-container .submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}




.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.submit-container .rating {
    padding: 0.5rem 1.5rem;
    color: hsl(25, 97%, 53%);
    background-color: hsla(216, 12%, 54%, 10%);
    border-radius: 9999px;
    font-size: 1rem;
}

.submit-container .title {
    margin-top: 0.5rem;
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    font-weight: 700;
}

.submit-container .desc {
    color: hsl(216, 12%, 54%);
    text-align: center;
}


.hidden {
    display: none;
}


@media (min-width: 1200px) {
    .rating-container, .submit-container {
        max-width: 30%;
    }
}

@media (max-width: 1100px) {
    .rating-container, .submit-container {
        max-width: 50%;
    }
}
@media (max-width: 1000px) {
    .rating-container, .submit-container {
        max-width: 60%;
    }
}
@media (max-width: 800px) {
    .rating-container, .submit-container {
        max-width: 80%;
    }
}

@media (max-width: 500px) {
    * {
        font-size: 13px;
    }
    .rating-container, .submit-container {
        max-width: 90%;
    }
}

@media (max-width: 400px) {
    * {
        font-size: 10px;
    }
    .rating-container, .submit-container {
        max-width: 90%;
    }
}